footer {
    position: sticky;
    bottom: 0;
    display: flex;
    margin-top: 5rem;
    padding: .5rem 1rem;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    backdrop-filter: blur(5px);
}

.links {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img {
    width: 30px;
    object-fit: contain;
}

@media screen and (max-width: 860px) {
    * {
        font-size: .8rem;
    }

    footer {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
}